*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

head{
    background-color: grey;
}
body{
    background-color: grey;
}

p{
    position: fixed;

}
#pls{
    left:0%;
    bottom: 0;
}
#blr{
    
    top:50px;
    left:0;
}

#sl1{
    font-size: small;
    top: 40%;
 left :130px;
}
#sl2{
    font-size: small;
top: 30%;
left:130px;
}
#sl3{
    font-size: small;
    top: 20%;
    left : 130px;
}
#cp{
    font-size: small;
    top: 10%;
    left:130px;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1{
   position: fixed;
   top:0;
   left:0;
}
.btn:hover{
    background-color: black;
    color: white;
}